//.productDetails-appBar {
//  height: auto;
//
//  .productGift-icon {
//    margin-right: 16px;
//  }
//
//}

.product-root {
  max-width: 245px;
  max-height: 330px;

  .product-cardActionArea {
    &:focus {
      outline: none;
    }
  }

  .product-media {
    height: 140px;

    .product-img {
      display: flex;
      width: 100%;
      height: 100%;
      //max-height: 130%;
      //max-width: 100%;
      //object-fit: fill;
      padding: 0px 16px 16px;
    }
  }

  .product-gridContainer {
    padding: 16px;
  }


}