$drawerWidth: 180px;

.drawer-root {
  display: flex;

  .MuiDrawer-paper {
    height: auto;
  }

  .appBar {
    height: auto;
    background-color: #ff4d94;
  }

  .menuButton {
    margin-right: $drawerWidth;
  }

  .toolbar {
    min-height: 64px;
  }

  .drawerPaper {
    width: $drawerWidth;
  }

  .content {
    padding: 24px;
  }

  @media (max-width: 960px) {
    .drawer {
      display: none;
    }
    .appBar {
      width: 100%;
    }
    .typography {
      position: relative;
      left: -120px;
    }
    .menuButton {
      display: flex;

      &:focus {
        outline: none;
      }
    }
  }
}
