nav.header-nav {
  width: 100%;

  .navbar-toggler {
    outline: none;
  }

  a {
    font-size: 16px;
    margin: 0 50px;
    color: #898994;
    font-family: "Montserrat";
    text-shadow: 0.1px 0.1px #898994;
  }

  .nav-link:hover {
    color: #ff4d94;
    font-weight: 600;
    border-bottom: 2px solid #0066ff;
    transition: all 0.1s ease;
  }

  @media (max-width: 960px) {
    .nav-link:hover {
      border: none;
      color: #898994;
      font-weight: 500;
      font-size: 14px;
      transition: none !important;
    }
  }
}
