.pageSize-control {
  display: flex;
  flex-direction: row;

  .pageSize-control-paragraph {
    color: #5c5c3d;
    font-size: 15px;
    line-height: 80px;
  }

  .pageSize-control-form {
    width: 200px;
    margin: 15px;
  }

  .pagination {
    line-height: 5;
  }
}
