.mesteqs-slick-main-root {
  max-width: 640px;
  width: 100%;
  margin: auto;
  color: #5c5c3d;

  .mesteqs-card-area {
    &:focus {
      outline: none;
    }
  }

  .mesteqs-quote-icon {
    font-size: 40px;
    color: #ff4d94;
  }
}

.mesteqs-slick-main-root {
  z-index: 2;
  margin: 100px auto;
  width: 95%;
}
