section.container-content {
  background-image: url("./assets/img/sewMchne.png");
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  //height: 1411px;
  // background-size: contain;
  //pointer-events: none;
  position: relative;
  z-index: 3;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6b90;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bb5364;
}
