body {
  margin: 0;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.slick-dots li button:before {
  opacity: 1;
  font-size: 14px;
  //border-radius: 100%;
}

.slick-dots li.slick-active button:before {
  color: #ff4d94;
}

.MuiPaginationItem-root {
  &:focus {
    outline: none;
  }
}

//.productDetails-mainContent {
//  display: flex;
//  flex-direction: row;
//
//  .productDetails-content {
//    padding: 64px 0px 48px;
//    margin-left: 60px;
//  }
//
//  .productDetails-cardGrid {
//    padding-top: 64px;
//  }
//
//  .productDetails-mesteqs-logo {
//    position: fixed;
//    left: 41px;
//    top: 90px;
//    padding: 7px;
//  }
//
//  .productDetails-paper {
//    max-width: 500px;
//    padding: 16px;
//    margin: auto;
//  }
//
//  .productDetails-image {
//    //width: auto;
//    &:focus {
//      outline: none;
//    }
//  }
//
//  .productDetails-img {
//    margin: auto;
//    display: flex;
//    max-width: 100%;
//  }
//}

@import "~bootstrap/scss/bootstrap.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./assets/fonts/montserrat/montserrat.scss";
@import url("http://fonts.googleapis.com/css?family=Great+Vibes");
@import "./App.scss";
@import "./containers/Header/header.scss";
@import "./components/Navs/nav.scss";
@import "./containers/Footer/footer.scss";
@import "./containers/Mesteqs/mesteqs.scss";
@import "./containers/Slick/slickSlider.scss";
@import "./containers/FashionProducts/fashionProducts.scss";
@import "containers/Data/data.scss";
@import "containers/Data/ProductItems/productitems";
