header {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  height: 90px;
  cursor: pointer;
  transition: 0.3s ease;

  &.scrolled {
    background-color: #ffffff;
  }

  section.header-content {
    margin: 0px 30px;
    max-width: 1280px;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  span.logo-main-name {
    color: #0066ff;
    padding-left: 8px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    vertical-align: middle;
    font-family: "Great Vibes", Helvetica, sans-serif;
  }

  span.logo-description {
    font-size: 8px;
    color: #0066ff;
    font-weight: 600;
    position: absolute;
    left: 62px;
    top: 50px;
    text-transform: uppercase;
  }

  .right-front {
    font-size: 17px;
    color: #898994;
    text-shadow: 0.1px 0.1px #898994;
    font-family: "Montserrat";

  }
}
