footer {
  color: #898994;
  font-weight: 500;
  overflow: hidden;
  padding-left: 110px;
  font-family: "sans-serif";
  background-color: #f5f5f0;

  .footer-top {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 26px;
    text-align: right;
    margin: 35px 50px;

    .footer-arrow-icon {
      margin: 7px;
      // border-bottom: 2px solid #898994;
      transition: transform 0.5s ease-out;
      //&:after { // didn't work
      //  display: flex;
      //  height: 2px;
      //  background-color: yellow;
      //  content: "";
      //  width: 10px;
      //}
      &:hover {
        transform: translateY(-30px);
      }
    }
  }

  //.footer-arrow-icon:after {
  //  display: flex;
  //  height: 2px;
  //  background-color: yellow;
  //  content: "";
  //  width: 100px;
  //}
  .logo-aim-container {
    margin: 10px 10px 0 0;
  }

  .mesteqs-aim {
    display: flex;
    font-size: medium;
    line-height: normal;
    line-height: 22px;
    text-align: left;
    position: relative;
    left: 64px;
    top: -58px;
    width: 50%;
  }

  .thread-needle {
    display: flex;
    position: relative;
    top: -82px;
    left: 255px;
  }

  .contact-details {
    font-size: 17px;
    margin: 22px 0;
    display: inline-flex;
    flex-direction: column;
  }

  .fb-content {
    padding: 15px;
    margin-top: 5px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ff4d94;
    transition: all 0.1s ease-in-out;
  }

  .fb-content:hover {
    // color: silver !important;
    background-color: #ff4d94;
    color: #ffffff !important; // didnt work
  }

  .copyright-text {
    margin-bottom: 80px;
  }

  @media (max-width: 960px) {
    .thread-needle {
      display: flex;
      //float: left;
      margin: auto 0px !important;
    }
  }
}

